

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer{
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 30px;
  background-color: #282c34;
  text-align: center;
  color: white;
}
.bg-curso{
  background-color: rgb(235, 56, 25);
}
.titulo1{
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  
  color: white;
}


.titulo2{
  margin-top: 20px;
  text-align: center;
  color: grey;
}
.caja1{
  margin-left: 250px;
  margin-right: 100px;
}
.suggestion{

  cursor:pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.suggestion:hover{
  background-color: grey;
}

.loginTitle{
  margin-top: 20px;
  text-align: center;
  color: white;
}

.imageLogo{
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: white;
  max-height: 30VH;
}

.background{
  background-color: #e57373;
  min-width: 100%;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.centeredDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorMessage{
  color: red;
  text-align: center;
}

.botonSalir{
  margin: 20px;
  text-align: right;
  color: white;
}	


.formPaperContainer{
 
  justify-content: center;
  padding: 5px;
}

.button{
  margin: 20px;
}


.searchBarGridContainer{
  padding: 0 0 10px 0;
}


.table{
  background-color: white;
}